* {
  margin:0;  
  padding:0;
  font-family:consolas;
  box-sizing:border-box ;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    flex-direction:column;
    background:#050801;
}
.blue {
    position:relative ;
    display:inline-block ;
    padding:25px 30px;
    margin:40px 0;
    color:#03e9f4;
    font-size:24px;
    text-decoration:none;
    text-transform:uppercase;
    transition:0.5s;
    letter-spacing:4px;
}
 .blue:hover{
    background:#03e9f4;
    color:#050801;
    box-shadow:0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 200px #03e9f4;
}

.green {
    position:relative ;
    display:inline-block ;
    padding:25px 30px;
    margin:40px 0;
    color:#39ff14;
    font-size:24px;
    text-decoration:none;
    text-transform:uppercase;
    transition:0.5s;
    letter-spacing:4px;
}
 .green:hover{
    background:#39ff14;
    color:#050801;
    box-shadow:0 0 5px #39ff14,0 0 25px #39ff14,0 0 50px #39ff14,0 0 200px #39ff14;
}

.pink {
    position:relative ;
    display:inline-block ;
    padding:25px 30px;
    margin:40px 0;
    color:#ff6ec7;
    font-size:24px;
    text-decoration:none;
    text-transform:uppercase;
    transition:0.5s;
    letter-spacing:4px;
}
 .pink:hover{
    background:#ff6ec7;
    color:#050801;
    box-shadow:0 0 5px #ff6ec7,0 0 25px #ff6ec7,0 0 50px #ff6ec7,0 0 200px #ff6ec7;
}
